.menuItem:hover{
    -fx-border-color:  #1F8FE8;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover{
    -fx-background-color: #1F8FE8;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 3px 0px 3px;
}